[submodule "thesisfrontend"]
	path = thesisfrontend
	url = git@github.com:caophuoclong/thesisfrontend.git
	branch = Dev
[submodule "thesisbackend"]
	path = thesisbackend
	url = git@github.com:caophuoclong/thesisbackend.git
	branch = main
